//nav
.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: space-between;
    padding: 0.6rem;
    background-color: rgba($backgroundColor1, 1);
    .nav-title{
        padding: 10px;
        font-size: 3vh;
        font-weight: bold;
        img {
            width: 80px;
            position: absolute;
            top: 0;
        }
    }
    .nav-buttons{
        margin-left: 100px;
        right: 0;
        font-size: 3vh;
        button{
            width: 15vh;
            background-color: rgba($color2, 1);
            color: $white;
            padding: 1rem;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 1px;
            border-color: black;
            font-weight: bold;
            font-size: 2vh;
            border-radius: 10px;
            &:hover{
                background-color: $color3;
                color: $color1;
                width: 16vh;
            }
        }
    }
}