// //daffodil color scheme
// $color1 : #011A27;
// $color2 : #063852;
// $color3 : #F0810F;
// $color4 : #E6DF44;

//color scheme
$color1 : #1E1F26;
$color2 : #283655;
$color3 : #4d648d;
$color4 : #D0E1f9;

//color scheme
$backgroundColor1 : #1E1F26;
$backgroundColor2 : #283655;
$black : #4d648d;
$white : #D0E1f9;


// //green yellow color scheme
// $backgroundColor1 : rgb(10,145,10);
// $backgroundColor2 : rgb(241,218,7);
// $black : #030800;
// $white : #e0f8dd;
