.work{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: $black;
    border: 2px solid $black;
    margin-top: 6px;
    margin-bottom: 6px;
    box-shadow: rgba(0, 0, 0, 0.1);

    .work-grid-container{
        width: 100%;
        min-height: 100px;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        display: grid;
        .work-preview{
            width: 1fr;
        }
        .work-preview{
            min-height: 100px;
        }
        .work-info{
            .work-info-title{
                
            }
            .work-info-description{
                
            }
        }
    }

}