.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: space-between;
  padding: 0.6rem;
  background-color: #1e1f26;
}
.nav .nav-title {
  padding: 10px;
  font-size: 3vh;
  font-weight: bold;
}
.nav .nav-title img {
  width: 80px;
  position: absolute;
  top: 0;
}
.nav .nav-buttons {
  margin-left: 100px;
  right: 0;
  font-size: 3vh;
}
.nav .nav-buttons button {
  width: 15vh;
  background-color: #283655;
  color: #D0E1f9;
  padding: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
  border-color: black;
  font-weight: bold;
  font-size: 2vh;
  border-radius: 10px;
}
.nav .nav-buttons button:hover {
  background-color: #4d648d;
  color: #1E1F26;
  width: 16vh;
}

.footer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background: linear-gradient(black, #283655);
}
.footer img {
  position: relative;
  top: 0;
}
.footer .footer-logos {
  display: flex;
}
.footer .footer-logos img {
  width: 65px;
  height: 65px;
  margin-left: 10px;
  margin-top: 5px;
}
.footer .footer-logos img:hover {
  width: 75px;
}
.footer .footer-title {
  display: flex;
  align-self: center;
  font-weight: bold;
  font-size: 2vh;
  color: #D0E1f9;
}

.work, .home .home-work .work {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: #4d648d;
  border: 2px solid #4d648d;
  margin-top: 6px;
  margin-bottom: 6px;
  box-shadow: rgba(0, 0, 0, 0.1);
}
.work .work-grid-container, .home .home-work .work .work-grid-container {
  width: 100%;
  min-height: 100px;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  display: grid;
}
.work .work-grid-container .work-preview {
  width: 1fr;
}
.work .work-grid-container .work-preview {
  min-height: 100px;
}
.contact {
  background-color: red;
  width: 100%;
  min-height: 300px;
}

.App {
  text-align: center;
  height: auto;
  font-size: 2vh;
  background: linear-gradient(#283655, black);
  color: #D0E1f9;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin-top: 3px;
}
.home .home-about, .home .home-skills, .home .home-work {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: groove;
  padding: 10px;
  border-color: #D0E1f9;
}
.home .home-about {
  width: 100%;
  white-space: pre-line;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.home .home-about .photo {
  width: 20%;
  background-image: url("../public/images/selfimage2.jpg");
  background-size: cover;
  width: 40vmin;
  height: 40vmin;
  justify-content: flex-start;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  border: 4px solid #4d648d;
}
.home .home-about .description {
  width: 60%;
  min-width: 30;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 1vh;
  color: #D0E1f9;
}
.home .home-skills {
  width: 100%;
  min-width: 350px;
}
.home .home-work {
  width: 100%;
  min-width: 350px;
  top: 0;
  bottom: 0;
}
.home .home-work .title {
  font-weight: bold;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.home .home-work .work {
  background-color: #1E1F26;
}
.home .App div img {
  flex-grow: 1;
  flex-shrink: 1;
}/*# sourceMappingURL=App.css.map */